Fix the Golangci-lint

Make the necessary update to the code on main to fix the golangci-lint failing CI here: https://github.com/celestiaorg/celestia-core/actions/runs/15487056193/job/43604029686?pr=1870:

```
Error: test/e2e/node/main.go:73:22: string `builtin` has 3 occurrences, make it a constant (goconst)
  		if cfg.Protocol == "builtin" || cfg.Protocol == "builtin_connsync" {
  		                   ^
  Error: mempool/cat/pool.go:452:29: directive `//nolint:prealloc` is unused for linter "prealloc" (nolintlint)
  	var keep []*types.CachedTx //nolint:prealloc
  	                           ^
  Error: test/e2e/node/config.go:62:1: directive `//nolint:goconst` is unused for linter "goconst" (nolintlint)
  //nolint:goconst
  ^
  Error: blocksync/metrics.go:32:33: QF1008: could remove embedded field "Data" from selector (staticcheck)
  	m.NumTxs.Set(float64(len(block.Data.Txs)))
  	                               ^
  Error: blocksync/metrics.go:33:35: QF1008: could remove embedded field "Data" from selector (staticcheck)
  	m.TotalTxs.Add(float64(len(block.Data.Txs)))
  	                                 ^
  Error: blocksync/reactor.go:131:6: QF1008: could remove embedded field "BaseService" from selector (staticcheck)
  	bcR.BaseService.Logger = l
  	    ^
  Error: blocksync/reactor_test.go:149:14: QF1008: could remove embedded field "Header" from selector (staticcheck)
  			thisBlock.Header.ChainID,
  			          ^
  Error: blocksync/reactor_test.go:151:14: QF1008: could remove embedded field "Header" from selector (staticcheck)
  			thisBlock.Header.Height,
  			          ^
  Error: blocksync/reactor_test.go:223:3: QF1006: could lift into loop condition (staticcheck)
  		if reactorPairs[1].reactor.pool.IsCaughtUp() {
  		^
  Error: blocksync/reactor_test.go:320:3: QF1006: could lift into loop condition (staticcheck)
  		if lastReactorPair.reactor.pool.IsCaughtUp() || lastReactorPair.reactor.Switch.Peers().Size() == 0 {
  		^
  Error: libs/autofile/group.go:360:25: QF1011: could omit type int from declaration; it will be inferred from the right-hand side (staticcheck)
  	var minIndex, maxIndex int = -1, -1
  	                       ^
  Error: libs/autofile/group.go:505:16: QF1008: could remove embedded field "Group" from selector (staticcheck)
  	if index > gr.Group.maxIndex {
  	              ^
  Error: libs/autofile/group.go:509:58: QF1008: could remove embedded field "Group" from selector (staticcheck)
  	curFilePath := filePathForIndex(gr.Head.Path, index, gr.Group.maxIndex)
  	                                                        ^
  Error: libs/bytes/bytes.go:70:3: QF1012: Use fmt.Fprintf(...) instead of Write([]byte(fmt.Sprintf(...))) (staticcheck)
  		s.Write([]byte(fmt.Sprintf("%p", bz))) //nolint: errcheck
  		^
  Error: libs/bytes/bytes.go:72:3: QF1012: Use fmt.Fprintf(...) instead of Write([]byte(fmt.Sprintf(...))) (staticcheck)
  		s.Write([]byte(fmt.Sprintf("%X", []byte(bz)))) //nolint: errcheck
  		^
  Error: mempool/priority/mempool_test.go:809:5: QF1003: could use tagged switch on id % 3 (staticcheck)
  				if id%3 == 0 {
  				^
  Error: p2p/netaddress.go:258:9: QF1001: could apply De Morgan's law (staticcheck)
  	return !(na.RFC1918() || na.RFC3927() || na.RFC4862() ||
  	       ^
  Error: privval/signer_dialer_endpoint.go:63:5: QF1008: could remove embedded field "signerEndpoint" from selector (staticcheck)
  	sd.signerEndpoint.timeoutReadWrite = defaultTimeoutReadWriteSeconds * time.Second
  	   ^
  Error: privval/signer_listener_endpoint.go:23:47: QF1008: could remove embedded field "signerEndpoint" from selector (staticcheck)
  	return func(sl *SignerListenerEndpoint) { sl.signerEndpoint.timeoutReadWrite = timeout }
  	                                             ^
  Error: privval/signer_listener_endpoint.go:58:5: QF1008: could remove embedded field "signerEndpoint" from selector (staticcheck)
  	sl.signerEndpoint.timeoutReadWrite = defaultTimeoutReadWriteSeconds * time.Second
  	   ^
  Error: privval/signer_listener_endpoint.go:73:37: QF1008: could remove embedded field "signerEndpoint" from selector (staticcheck)
  	sl.pingInterval = time.Duration(sl.signerEndpoint.timeoutReadWrite.Milliseconds()*2/3) * time.Millisecond
  	                                   ^
  Error: privval/signer_listener_endpoint_test.go:197:4: QF1006: could lift into loop condition (staticcheck)
  			if listenerEndpoint.IsConnected() {
  			^
  Error: privval/socket_listeners.go:172:10: QF1008: could remove embedded field "Conn" from selector (staticcheck)
  	err = c.Conn.SetReadDeadline(deadline)
  	        ^
  Error: privval/socket_listeners.go:184:10: QF1008: could remove embedded field "Conn" from selector (staticcheck)
  	err = c.Conn.SetWriteDeadline(deadline)
  	        ^
  Error: rpc/jsonrpc/client/http_json_client.go:102:4: QF1003: could use tagged switch on u.Scheme (staticcheck)
  			if u.Scheme == protoHTTP || u.Scheme == protoWS {
  			^
  Error: rpc/jsonrpc/jsonrpc_test.go:111:4: QF1003: could use tagged switch on keyvals[i+1] (staticcheck)
  			if keyvals[i+1] == "tcp" {
  			^
  Error: state/compatibility_test.go:71:12: QF1008: could remove embedded field "StoreOptions" from selector (staticcheck)
  	if !multi.StoreOptions.DiscardABCIResponses {
  	          ^
  Error: state/execution_test.go:350:8: QF1008: could remove embedded field "Header" from selector (staticcheck)
  	block.Header.EvidenceHash = block.Evidence.Hash()
  	      ^
  Error: state/execution_test.go:401:52: QF1008: could remove embedded field "Header" from selector (staticcheck)
  		vote := types.MakeVoteNoError(t, privVal, block0.Header.ChainID, idx, height-1, 0, 2, blockID, time.Now())
  		                                                 ^
  Error: state/execution_test.go:426:23: QF1008: could remove embedded field "Header" from selector (staticcheck)
  		Height:      block1.Header.Height,
  		                    ^
  Error: state/execution_test.go:427:23: QF1008: could remove embedded field "Header" from selector (staticcheck)
  		Time:        block1.Header.Time,
  		                    ^
  Error: state/execution_test.go:435:30: QF1008: could remove embedded field "Header" from selector (staticcheck)
  		DataRootHash:       block1.Header.DataHash,
  		                           ^
  Error: state/execution_test.go:792:27: QF1008: could remove embedded field "Data" from selector (staticcheck)
  	for i, tx := range block.Data.Txs {
  	                         ^
  Error: state/execution_test.go:847:27: QF1008: could remove embedded field "Data" from selector (staticcheck)
  	for i, tx := range block.Data.Txs {
  	                         ^
  Error: state/rollback_test.go:126:21: QF1008: could remove embedded field "Header" from selector (staticcheck)
  			Consensus: block.Header.Version,
  			                 ^
  Error: state/rollback_test.go:183:21: QF1008: could remove embedded field "Header" from selector (staticcheck)
  			Consensus: block.Header.Version,
  			                 ^
  Error: state/txindex/kv/kv.go:356:2: QF1002: could use tagged switch on c.Op (staticcheck)
  	switch {
  	^
  Error: state/txindex/kv/kv.go:705:11: QF1004: could use strings.Split instead (staticcheck)
  	parts := strings.SplitN(string(key), tagKeySeparator, -1)
  	         ^
  Error: state/txindex/kv/kv_test.go:319:6: QF1003: could use tagged switch on txr.Height (staticcheck)
  					if txr.Height == 1 {
  					^
  Error: store/store_test.go:173:40: QF1008: could remove embedded field "Header" from selector (staticcheck)
  	seenCommit := makeTestExtCommit(block.Header.Height, cmttime.Now())
  	                                      ^
  Error: store/store_test.go:176:31: QF1008: could remove embedded field "Header" from selector (staticcheck)
  	require.EqualValues(t, block.Header.Height, bs.Height(), "expecting the new height to be changed")
  	                             ^
  Error: store/store_test.go:412:42: QF1008: could remove embedded field "Header" from selector (staticcheck)
  			seenCommit := makeTestExtCommit(block.Header.Height, cmttime.Now())
  			                                      ^
  Error: store/store_test.go:452:42: QF1008: could remove embedded field "Header" from selector (staticcheck)
  			seenCommit := makeTestExtCommit(block.Header.Height, cmttime.Now())
  			                                      ^
  Error: store/store_test.go:701:27: QF1008: could remove embedded field "Header" from selector (staticcheck)
  	assert.EqualValues(t, b1.Header.Height, baseBlock.Header.Height)
  	                         ^
  Error: store/store_test.go:702:27: QF1008: could remove embedded field "Header" from selector (staticcheck)
  	assert.EqualValues(t, b1.Header.LastBlockID, baseBlock.Header.LastBlockID)
  	                         ^
  Error: store/store_test.go:703:27: QF1008: could remove embedded field "Header" from selector (staticcheck)
  	assert.EqualValues(t, b1.Header.ChainID, baseBlock.Header.ChainID)
  	                         ^
  Error: store/store_test.go:713:40: QF1008: could remove embedded field "Header" from selector (staticcheck)
  	seenCommit := makeTestExtCommit(block.Header.Height, cmttime.Now())
  	                                      ^
  Error: store/store_test.go:715:[38](https://github.com/celestiaorg/celestia-core/actions/runs/15487056193/job/43604029686?pr=1870#step:5:40): QF1008: could remove embedded field "Header" from selector (staticcheck)
  	require.Equal(t, bs.Height(), block.Header.Height, "expecting the new height to be changed")
  	                                    ^
  Error: types/block_meta.go:25:24: QF1008: could remove embedded field "Data" from selector (staticcheck)
  		NumTxs:    len(block.Data.Txs),
  		                     ^
  Error: types/light.go:37:59: QF1008: could remove embedded field "SignedHeader" from selector (staticcheck)
  	if valSetHash := lb.ValidatorSet.Hash(); !bytes.Equal(lb.SignedHeader.ValidatorsHash, valSetHash) {
  	                                                         ^
  Error: types/light.go:[39](https://github.com/celestiaorg/celestia-core/actions/runs/15487056193/job/43604029686?pr=1870#step:5:41):7: QF1008: could remove embedded field "SignedHeader" from selector (staticcheck)
  			lb.SignedHeader.ValidatorsHash, valSetHash,
  			   ^
  Error: types/light.go:157:24: QF1008: could remove embedded field "Header" from selector (staticcheck)
  	if hhash, chash := sh.Header.Hash(), sh.Commit.BlockID.Hash; !bytes.Equal(hhash, chash) {
  	                      ^
  Error: types/light_test.go:156:[46](https://github.com/celestiaorg/celestia-core/actions/runs/15487056193/job/43604029686?pr=1870#step:5:48): QF1008: could remove embedded field "Header" from selector (staticcheck)
  			err := sh.ValidateBasic(validSignedHeader.Header.ChainID)
  			                                          ^
```